// fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap');
// vars 
$mainFont:'Poppins', sans-serif;
// sizing 
$fonth1: 5rem;
$fontXL:4rem;
$fontMd:3rem;
$fontSm:2rem;
$formfont:1.5rem;
