$primaryColor: rgb(211, 143, 188);
$black: #161515;
$navcolor: #250118;
$pbackground: rgba(255, 255, 255, 0.726);
$h1background: rgba(255, 209, 251, 0.726);
$hbackground: rgba(255, 255, 255, 0.726);
$formcolor:rgba(255, 206, 245, 0.726);
$acolor: #250118;
$grey: #676565;
$transparent: rgba(255, 206, 245, 0);